.title{
    
    width: auto;
    height: 200px;
    margin-top: auto;
    padding-top: 50px; 
    font-family: 'Work Sans', sans-serif;
}
.label{
    position: relative;
    top: 50px;
    left: 115px;
    padding-left: 50px;
    width: 150px;
    font-size: larger;
    font-family: 'Work Sans', sans-serif;

}
.drop{
    font-family: 'Work Sans', sans-serif;
    font-size:100%;
    position: relative;
    top: 25px;
    width: 100px;
    left: 350px;

}
.left
{
    border-style: solid;
    background-color: lightgray;
    height: 400px;
    width: 600px;
    margin-top: 75px;
    margin-left: 100px;
    padding-bottom: 50px;
   border-radius: 15px;

}
.flex{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex1{
    border-radius: 10px;
  background-color:lightslategrey;
  height: 55px;
  width: 100px;
  padding: 25px;
  margin: 20px;
  
}
.right
{
    background-color:#a581b9;
    position: relative;
    left: 750px;
    bottom: 500px;
    height: 500px;
    border-radius: 15px;
    width: 600px;
   
}
.piechart{
    position: relative;
    top: 110px;
    left: 50px;

}